$colors:(
"darkBlue_1":#316099,
"darkBlue_2":#1F3F68,
"midBlue_1":#356EAD,
"lightBlue_1":#98C3E8,
"lowBlack_1": rgb(109, 107, 107)  
);

$h1:(
    "bannerL":2.5rem Arial ,
    "bannerS":2rem Arial,
    "bannerXS":1.5rem Arial,
    "popularL": bold 2rem Arial,
    "popularS": bold 1.5rem Arial,
    "popular3L": bold 1.2rem Arial,
    "articlesLL": bold 1rem Arial
);

$h2:(
    "sectionTL": bold 1rem Arial,
    "sectionTS": bold 0.85rem Arial,
    "footerL":1.8rem Arial
);

$h5:(
    "detailL": bold 0.9rem Arial
);

$p:(
    "bannerL":1.1rem Arial,
    "detailL":0.9rem Arial,
    "footerL":1rem Arial,
    "bannerXS": 0.85rem Arial
);